.main__introduction{
    display: flex;
    min-height: 60vh;

    background-image: linear-gradient(to top, #d2e2fb 30%, #86a8d8);

    position: relative;
    overflow: hidden;

    @include responsive(screen){
        min-height: 100vh;
    }

    img{
        position: absolute;
        bottom: 0;
    }

    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: $white;
        @include fontTitle(60, bold);

        @include responsive(mobile){
            @include fontTitle(80, bold);
        }

        @include responsive(screen){
            @include fontTitle(100, bold);
        }
    }
}

.main__about{
    display: grid;
    gap: 20px;
    padding: 50px 5%;
    background-color: $bg-section;

    position: relative;
    z-index: 2;

    h1{
        @include fontTitle(40, 600);
        color: $grey-1;

        margin: 0 0 10px 0;

        @include responsive(tablet){
            @include fontTitle(50, 600);
        }
    }
    
    p{
        @include fontText(18 , 400);
        color: $grey-2;

        @include responsive(screen){
            @include fontText(20 , 400);
        }
    }
}